<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="launchChrome.TC001_Using_Chrome"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SeleniumSuite -->
